#et-slider-wrapper .et-arrow-prev{ top:220px;}
#et-slider-wrapper .et-arrow-next{top:220px;}
#et-slider-controls{bottom:15px;}
.et-slide .container{ padding-top:150px;}
.n_Main{width:1200px; height:auto; margin:0 auto; overflow:hidden;}
.n_left{width:240px; height:auto; float:left; margin-top:20px; margin-bottom:30px;}
.n_right{width:930px; height:auto; float:right; margin-top:20px;}

.n_title{text-align:center; background:#01a2ff; border-bottom:1px solid #fff;}
.n_title h3{font-size:24px; font-family:microsoft yahei; padding-top:15px; color:#fff;}
.n_title p{ font-size:14px; color:#fff; padding-bottom:15px;}
.n_left ul li{text-align:center; border-bottom:1px dashed #ccc;}
.n_left ul li a{ width:100%; background:#fff; display:block; padding:15px 0px; font-size:15px; font-family:microsoft yahei; color:#666;}
.n_left ul li a:hover{ width:100%; background:#01a2ff; color:#fff;}
.QQline{ margin:10px 0px;}
.map{ margin-top:10px;}
.n_contact{ margin-top:10px; color:#777; font-size:14px; font-family:microsoft yahei; line-height:32px;}
.location{ position:relative; width:100%; height:35px; background:#fff; border-bottom:1px solid #045091; color:#666; font-size:14px; font-family:microsoft yahei; line-height:35px;}
.n_phone{ width:240px; bottom:0px; height:34px; position:absolute; right:0px; background:url(../images/phonebj.png); text-align:center; color:#fff;}
.n_centent { font-size:15px; color:#666; font-family:microsoft yahei;  line-height:24px; margin-bottom:30px;}
.home #et-slider-wrapper{height:400px;}
.tijiao {  width: 120px;height: 40px;background: #159301;float: left;margin-left: 77px;line-height: 40px;text-align: center;font-size: 18px;cursor: pointer;} 
#form ul li {
    margin: 20px 0px;
}

.tijiao1 {
    width: 90px;
    height: 30px;
    background: #159301;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin-left: 78px;
}

#content{    list-style: none; list-style-type: none; margin:15px 0; padding:0px;}

/**新闻页**/
.n_centent .news_list2{margin-top:20px;}
.n_centent .news_list2 li {height: 50px;line-height: 26px;border-bottom: 1px dotted #888;padding: 6px 0 5px 0;color: #a0a0a0;margin-bottom:10px;}
.n_centent .news_list2 li .title {display: block;}
.n_centent .news_list2 li .title a {color: #333;float: left;font-size:18px;}
.n_centent .news_list2 li .title a:hover {color: #167aae;}
.n_centent .news_list2 li .hits {display: block;float: right; font-size:12px;}
.n_centent .news_list2 li .time {display: block;float: left; font-size:12px;}
.n_centent .news_list2 li .class {margin-left: 12px; font-size:12px;}
.n_centent .news_list2 li .class a {color: #a0a0a0;}


.listConts {line-height: 26px;color: #444; margin-bottom:30px;}
.listConts .title_1 {font-size: 24px;text-align: center;line-height: 40px;color: #000;}
.listConts .info {width: 380px;height: 27px;line-height: 28px;text-align: center;margin: 15px auto;font-size: 12px;border: 1px solid #ccc;border-left: none;border-right: none;color: #666;}
.listConts .info small {margin-left: 8px;margin-right: 3px;color: #999;}
.listConts .desc {margin: 20px auto 15px;padding: 5px 10px;line-height: 20px;border: 1px solid #f4e4b4;background: #fffff0;width: 80%;}
.listConts .author {text-align: right;color: #999;}
.listConts .showimg {margin: 20px 0;text-align: center;}
.listConts .showimg a img {border: 1px solid #ccc;padding: 1px;}
.listConts .conttitle {font-weight: bold;padding-bottom: 7px;margin-bottom: 7px;color: #2f2f2f;line-height: 24px;border-bottom: 1px solid #ddd;font-size: 14px;}
.listConts .picarr {position: relative;margin: 20px auto;}
.listConts .picarr .picture {width: 100%;text-align: center;}
.listConts .picarr .picture a {display: none;}
.listConts .picarr .preview {width: 685px;margin: 20px auto 0;padding: 5px;background: #eef3fa;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.listConts .picarr .preview li {float: left;margin: 4px;}
.listConts .picarr .preview li a {width: 58px;height: 45px;border: 1px solid #fff;background: #fff;display: table-cell;vertical-align: middle;text-align: center;}
.listConts .picarr .preview li a img {vertical-align: middle;}
.picarr .preview li.current a {border: 1px solid #000;}

.preNext {position: relative;}
.preNext .line {height: 10px;overflow: hidden;clear: both;background: url(img/box_dotline.gif) left 15px repeat-x;margin: 4px auto;padding-top: 10px;}
.preNext .line strong {display: block;width: 8px;height: 10px;overflow: hidden;font-size: 0px;line-height: 100px;background: url(img/box_dotline.gif) right -10px no-repeat;float: left;}
.preNext .text {color: #999;}
.preNext  li a{color: #888; font-size:12px;}
.preNext  li {color: #888; font-size:12px;}
.preNext .actBox {position: absolute;top: 25px;right: 0;}
.preNext .actBox li {display: inline;padding-left: 22px;background-image: url(img/actbox-ico.gif);background-repeat: no-repeat;margin-left: 10px;}
.preNext .actBox li a {color: #666;}
.preNext .actBox li#act-fav {background-position: 4px 0px;}
.preNext .actBox li#act-err {background-position: 4px -37px;}
.preNext .actBox li#act-pus {background-position: 4px -73px;}
.preNext .actBox li#act-pnt {background-position: 4px -109px;}

.job_list ul li{border-bottom:1px dashed #ccc; line-height:35px;color:#888;}
.job_list ul li span{ float:right;}
.job_list ul li a{float:left; color:#666; font-size:16px;}
.n_centent table tr td{text-indent:5px;}

/**案例**/
.n_centent ul.alMain{overflow:hidden;}
.n_centent ul.alMain li {width: 240px;height: 165px;background: url(../images/honorlist.png) no-repeat;float: left;margin: 16px 32px; margin-bottom:25px;}
.n_centent ul.alMain li a{color:#666; text-decoration:none;}
.n_centent ul.alMain li p{text-align:center;}
.alMain li img{padding-left: 9px; padding-top: 8px; margin-bottom:10px;}

/*列表翻页*/
.page_list {height: 24px;line-height: 24px;text-align: center;letter-spacing: 0;font-family: "Arial Black";font-size: 10px;margin-top: 20px;}
.page_list a {display: inline-block;color: #898989;border: 1px solid #e8e8e8;background: #f8f8f8;text-align: center;padding: 0 8px;margin: 0 1px;}
.page_list a.on {border: 1px solid #ccc;background: #E5EDF2;}
/*分页样式*/
.page_info {text-align: center;margin-top: 10px;color: #333;}
.page_info span {padding: 0 2px;font-weight: bold;}

.listConts h1.title{ text-align:center; font-weight:400; font-size:28px; margin-top:0px;}